<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <h1>Peliculas</h1>
        <a href="/" class="link">Volver</a>
        <a href="/movies/html/agregar" class="link">Agregar nuevo</a>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        {% for data in data %}
        <div class="registro">
            <div class="registro_id">
                <label>{{ data.idPelicula }}</label>
            </div>
            <div>
                <div class="registro_datos">
                    <label class="dato"><b>Nombre:</b> {{ data.nombre }}</label>
                    <label class="dato"><b>Inventario:</b> {{ data.inventario }}</label>
                </div>
                <div class="botones_utilidad">
                    <a href="/movies/html/ver?idPelicula={{ data.idPelicula }}" class="link ver">Ver</a>
                    <a href="/movies/html/modificar?idPelicula={{ data.idPelicula }}" class="link mod">Modificar</a>
                    <a href="/movies/html/eliminar?idPelicula={{ data.idPelicula }}" class="link del">Eliminar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>