<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" onsubmit="return validateForm()">
        <a href="/users/html/ver?idUsuario={{ data.idUsuario }}">Cancelar</a>
        <p><b>ID:</b> {{data.idUsuario}}</p>
        <input type="hidden" name="idUsuario" value={{data.idUsuario}}>
        Nombre*: <input type="text" name="nombre" value={{data.nombre}} required>
        <br>
        Apellido Paterno*: <input type="text" value={{data.apPat}} name="apPat" required>
        <br>
        Apellido Materno: <input type="text" value={{data.apMat}} name="apMat">
        <br>
        Correo Electronico: <input type="email" value={{data.email}} name="email">
        <br>
        <input type="checkbox" name="superUser"
        {% if data.superUser %}
            checked
        {% endif %} value="1" id="superUser_id">
        <label for="superUser_id">Super Usuario</label>
        <br>
        <input type="submit" value="Modificar">
    </form>
</body>
<script>
    const validateEmail = (email) => {
        return email.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    };
    function validateForm()
    {
        //var idUsuario = document.forms["idUsuario"].value;
        //console.log(idUsuario);
        var nombre = document.forms["nombre"].value;
        var apPat = document.forms["apPat"].value;
        var correo = document.forms["email"].value
        if(nombre == null || nombre == "")
        {
            window.alert("El nombre no puede estar vacio.");
            return false;
        }
        if(apPat == null || apPat == "")
        {
            window.alert("El apellido paterno no puede estar vacio.");
            return false;
        }
        return true;
    }
</script>
</html>