<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>ClonBuster</title>
</head>
<body>
    <h1>ClonBuster</h1>
    <br>
    <div class="botones_utilidad">
        <a href="/users/html" class="main">Usuarios</a>
        <a href="/movies/html" class="main">Peliculas</a>
        <a href="/rents/html" class="main">Rentas</a>
    </div>
</body>
</html>